100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\nave.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\coracao.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\laser.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\meteoro.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\meteoro_quebrado.bmp"
105 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\explosao.bmp"

110 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\fundoAzul.bmp"
111 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\fundoPreto.bmp"
112 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\fundoInicial.bmp"
113 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE ".\\img\\fundoPerdeu.bmp"