100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "nave.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "fundoAzul.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "fundoPreto.bmp"
103 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "coracao.bmp"
104 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "laser.bmp"